<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center align-items-start">
        <span class="navbar-brand position-absolute mx-0">
          <img
            class="img-filme text-center"
            src="../../../assets/img/logo.png"
          />
        </span>
        <div class="navbar-collapse collapse" id="navbar" *ngIf="btn_left">
            <ul class="navbar-nav">
                <a routerLink="/">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="left-icon">arrow_back_ios</mat-icon>
                </a>
            </ul>
        </div>
    </nav>
</header>
