@import "~bootstrap/dist/css/bootstrap.css";
:root {
    --color-white: #fff;
    --color-cian: #f1f3f4
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
